.Rproj.user
.Rhistory
.RData
.Ruserdata


Introduction.html
Tutorial-1--The-Basics.html
Basics.html
Visualisation.html
Types.html
descriptiveAnalysis.html

Visualisation_files/
descriptiveAnalysis_files/

*.html
